<title>公共 emoji & jQuery</title>
<meta name="description" content="公共 emoji & jQuery">
<center><h1>公共 emoji 和 jQuery 储存库</h1></center>
<center>
 <a href='https://static.sampledu.com/'>English</a>
 <a href='https://static.sampledu.com/cn.html'>中文</a>
 <a href='https://static.sampledu.com/ru.html'>Русский</a>
</center>

<style>
 .container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }
</style>

<center><p>     </p></center>

<center><h3>我们提供所有的 emoji 和最新的 jQuery 供您使用，具有高可用性和稳定性。</h3></center>

<center><b><p>1. 使用我们的 emojis:</p></b></center>

<center><p>我们所有的表情符号都可以在以下两个网址中找到：</p></center>

<center><p>PNG 格式的 emojis: https://static.sampledu.com/emoji/72x72/[emoji_code].png</p></center>
<center><p>SVG 格式的 emojis: https://static.sampledu.com/emoji/svg/[emoji_code].svg</p></center>

<center><p>您可以在<a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank">这里</a>找到所有 emoji code。</p></center>

<center><p>示例 1: https://static.sampledu.com/emoji/svg/1f600.svg  或  https://static.sampledu.com/emoji/72x72/1f600.png</p></center>
<center><p>示例 2: https://static.sampledu.com/emoji/svg/1f1e8-1f1f3.svg  或  https://static.sampledu.com/emoji/72x72/1f1e8-1f1f3.png</p></center>

<center><p>如果你想在Wordpress中使用我们的表情符号，请在functions.php文件中添加以下代码。</p></center>

<div class="container">
<pre>
<code>
function filter_baseurl(){
  return set_url_scheme('//static.sampledu.com/emoji/72x72/');
}
function ilter_svgurl(){
  return set_url_scheme('//static.sampledu.com/emoji/svg/');
}
add_filter('emoji_url', 'filter_baseurl');
add_filter('emoji_svg_url', 'ilter_svgurl');
</code>
</pre>
</div>

<center><b><p>2. 使用我们的 jQuery:</p></b></center>

<center><p>https://static.sampledu.com/js/jquery/jquery.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.min.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.min.js</p></center>
