<title>Public emoji & jQuery</title>
<meta name="description" content="Public emoji & jQuery">
<center><h1>Public emoji and jQuery Repositories</h1></center>
<center>
 <a href='https://static.sampledu.com/'>English</a>
 <a href='https://static.sampledu.com/cn.html'>中文</a>
 <a href='https://static.sampledu.com/ru.html'>Русский</a>
</center>

<style>
 .container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }
</style>

<center><p>     </p></center>

<center><h3>We provide all the emojis and the latest jQuery for you to use with high availability and stability. </h3></center>

<center><b><p>1. Use our emojis:</p></b></center>

<center><p>All of our emojis can be found in the following two URLs:</p></center>

<center><p>For PNG emojis: https://static.sampledu.com/emoji/72x72/[emoji_code].png</p></center>
<center><p>For SVG emojis: https://static.sampledu.com/emoji/svg/[emoji_code].svg</p></center>

<center><p>You can find all the emoji code <a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank">here</a>.</p></center>
 
<center><p>Example 1: https://static.sampledu.com/emoji/svg/1f600.svg  OR  https://static.sampledu.com/emoji/72x72/1f600.png</p></center>
<center><p>Example 2: https://static.sampledu.com/emoji/svg/1f1fa-1f1f3.svg  OR  https://static.sampledu.com/emoji/72x72/1f1fa-1f1f3.png</p></center>

<center><p>If you want to use our emojis in Wordpress, please add the following code to the functions.php file.</p></center>

<div class="container">
<pre>
<code>
function filter_baseurl(){
  return set_url_scheme('//static.sampledu.com/emoji/72x72/');
}
function ilter_svgurl(){
  return set_url_scheme('//static.sampledu.com/emoji/svg/');
}
add_filter('emoji_url', 'filter_baseurl');
add_filter('emoji_svg_url', 'ilter_svgurl');
</code>
</pre>
</div>

<center><b><p>2. Use our jQuery:</p></b></center>

<center><p>https://static.sampledu.com/js/jquery/jquery.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.min.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.min.js</p></center>
