<title>Публичные emoji & jQuery</title>
<meta name="description" content="Public emoji & jQuery">
<center><h1>Публичные emoji & jQuery Репозитории</h1></center>
<center>
 <a href='https://static.sampledu.com/'>English</a>
 <a href='https://static.sampledu.com/cn.html'>中文</a>
 <a href='https://static.sampledu.com/ru.html'>Русский</a>
</center>

<style>
 .container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }
</style>

<center><p>     </p></center>

<center><h3>Мы предоставляем все emojis и новейшие jQuery для использования с высокой доступностью и стабильностью. </h3></center>

<center><b><p>1. Используйте наши emojis:</p></b></center>

<center><p>Все наши emojis можно найти в следующих двух URL-адресах:</p></center>

<center><p>Для PNG emojis: https://static.sampledu.com/emoji/72x72/[emoji_code].png</p></center>
<center><p>Для SVG emojis: https://static.sampledu.com/emoji/svg/[emoji_code].svg</p></center>

<center><p>Все коды emoji можно найти <a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank">здесь</a>.</p></center>

<center><p>Пример 1: https://static.sampledu.com/emoji/svg/1f600.svg  ИЛИ  https://static.sampledu.com/emoji/72x72/1f600.png</p></center>
<center><p>Пример 2: https://static.sampledu.com/emoji/svg/1f1f7-1f1fa.svg  ИЛИ  https://static.sampledu.com/emoji/72x72/1f1f7-1f1fa.png</p></center>

<center><p>Если вы хотите использовать наши emojis в Wordpress, пожалуйста, добавьте следующий код в файл functions.php.</p></center>

<div class="container">
<pre>
<code>
function filter_baseurl(){
  return set_url_scheme('//static.sampledu.com/emoji/72x72/');
}
function ilter_svgurl(){
  return set_url_scheme('//static.sampledu.com/emoji/svg/');
}
add_filter('emoji_url', 'filter_baseurl');
add_filter('emoji_svg_url', 'ilter_svgurl');
</code>
</pre>
</div>

<center><b><p>2. Используйте наши jQuery:</p></b></center>

<center><p>https://static.sampledu.com/js/jquery/jquery.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.min.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.js</p></center>
<center><p>https://static.sampledu.com/js/jquery/jquery.slim.min.js</p></center>
